pip-selfcheck.json
.Python
*.pyc
.DS_Store
*.swp
/venv/
/static/
/media/
/.vagrant/
/Vagrantfile.local
/docs/_build/
/bin/
/lib/
/include/
.coverage
coverage.xml
man/
nosetests.xml
.template-version
db.sqlite3
